<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:500,600,700,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Lexus</title>
  </head>
  <body>
    <div class="wrapper">
      <form  class="enlist" action="/submit" method="POST">
        {% if message %}
        <p class="message">{{ message | safe }}</p>
        {% endif %}
        <span>
          <label for="">Name</label>
          <input type="text" name="Name" />
        </span>
        <span>
          <label for="">Email</label>
          <input type="text" name="Email" />
        </span>
        <button type="submit">Submit</button>
      </form>
      <div class="args">
        {% for i in stack %}
        <div class="stack_block">
          <span>{{ i.name }}</span>
          <span>{{ i.email }}</span>
          <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{ i.id }}">
            <button value="delete" type="submit">X</button>
          </form> 
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
